<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>465279976169-14bu01e470vug66up1d11r4r455irplp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.465279976169-14bu01e470vug66up1d11r4r455irplp</string>
	<key>API_KEY</key>
	<string>AIzaSyBKMFkPPCRPMVp3gB3LhoW-iX4WY7UAvEU</string>
	<key>GCM_SENDER_ID</key>
	<string>465279976169</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Ibrahim.Flash-Chat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-da818</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-da818.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:465279976169:ios:ad8c26a8689f9e92</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-da818.firebaseio.com</string>
</dict>
</plist>